<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @class_record_type.description %>
</p>


<%= link_to 'Edit', edit_class_record_type_path(@class_record_type) %> |
<%= link_to 'Back', class_record_types_path %>
