<h1><i class="icon-list-alt"></i> Sobre</h1>
<h2>Licença</h2> <hr>
Direitos Autorais Reservados (c) 2012 <a href="www.ifb.edu.br">Instituto Federal de Ciência, Educação e Tecnologia de Brasília - IFB.</a><p>
Este programa é software livre; você pode redistribuí-lo e/ou modificá-lo sob os termos da Licença Pública Geral GNU conforme publicada pela Free Software Foundation; tanto a versão 2 da Licença, como (a seu critério) qualquer versão posterior. Este programa é distribuído na expectativa de que seja útil, porém, SEM NENHUMA GARANTIA; nem mesmo a garantia implícita de COMERCIABILIDADE OU ADEQUAÇÃO A UMA FINALIDADE ESPECÍFICA. Consulte a <a href="/GPL-pt_BR.txt">Licença Pública Geral do GNU</a> para mais detalhes.

<p>
<a rel="license" href="http://creativecommons.org/licenses/by/3.0/br/deed.pt_BR">
	<img alt="Licença Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/br/88x31.png" /></a>
	<br />
	<p>@cadêmico do <a xmlns:cc="http://creativecommons.org/ns#" href="www.ifb.edu.br" property="cc:attributionName" rel="cc:attributionURL">Instituto Federal de Ciência, Eudcação e Tecnologia - IFB</a> é licenciado sob uma <a rel="license" href="http://creativecommons.org/licenses/by/3.0/br/deed.pt_BR">Licença Creative Commons Atribuição 3.0 Brasil</a>.<br/>
	Repositório do trabalho em <a xmlns:dct="http://purl.org/dc/terms/" href="https://github.com/ifb-dev/academico" rel="dct:source">https://github.com/ifb-dev/academico</a>.</p>
	<br/>
<h2>Contatos</h2> <hr>
Instituto Federal de Brasília - IFB<p>
Núcleo de Tecnologia da Informação e Comunicação - NTIC<p>
Coordenação de Desenvolvimento de Sistemas - CDS<p>
Telefone: (61) 2123-2129<p>
Email: <a href="mailto:cdds@ifb.edu.br">cdds@ifb.edu.br</a><p>