<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @matrix_evaluation_type.description %>
</p>


<%= link_to 'Edit', edit_matrix_evaluation_type_path(@matrix_evaluation_type) %> |
<%= link_to 'Back', matrix_evaluation_types_path %>
