<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @street_type.description %>
</p>


<%= link_to 'Edit', edit_street_type_path(@street_type) %> |
<%= link_to 'Back', street_types_path %>
