<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @equipament_type.description %>
</p>


<%= link_to 'Edit', edit_equipament_type_path(@equipament_type) %> |
<%= link_to 'Back', equipament_types_path %>
