<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @situation_teaching_equipament.description %>
</p>


<%= link_to 'Edit', edit_situation_teaching_equipament_path(@situation_teaching_equipament) %> |
<%= link_to 'Back', situation_teaching_equipaments_path %>
