<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @precedence_school.description %>
</p>


<%= link_to 'Edit', edit_precedence_school_path(@precedence_school) %> |
<%= link_to 'Back', precedence_schools_path %>
