<p id="notice"><%= notice %></p>

<p>
  <b>Status:</b>
  <%= @marital_status.status %>
</p>


<%= link_to 'Edit', edit_marital_status_path(@marital_status) %> |
<%= link_to 'Back', marital_statuses_path %>
