<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @discipline_class_exam_type.description %>
</p>


<%= link_to 'Edit', edit_discipline_class_exam_type_path(@discipline_class_exam_type) %> |
<%= link_to 'Back', discipline_class_exam_types_path %>
