<p id="notice"><%= notice %></p>

<p>
  <b>Techaxis type:</b>
  <%= @techaxis_type.techaxis_type %>
</p>


<%= link_to 'Edit', edit_techaxis_type_path(@techaxis_type) %> |
<%= link_to 'Back', techaxis_types_path %>
