<%- model_class = RegistrationClass -%>
<div class="page-header">
  <h1><i class="icon-group"></i> <%=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human,
                                   :default => "Edit #{model_class.model_name.human}") %></h1>
</div>
<% if params.has_key?(:discipline_class_id) %>
  <%= render :partial => 'formdisciplineclass' %>
<% end %>
<% if params.has_key?(:registration_id) %>
  <%= render :partial => 'formregistration	' %>
<% end %>
