<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @special_needs_type.type %>
</p>


<%= link_to 'Edit', edit_special_needs_type_path(@special_needs_type) %> |
<%= link_to 'Back', special_needs_types_path %>
