<p id="notice"><%= notice %></p>

<p>
  <b>Telephone type:</b>
  <%= @telephone_type.telephone_type %>
</p>


<%= link_to 'Edit', edit_telephone_type_path(@telephone_type) %> |
<%= link_to 'Back', telephone_types_path %>
