<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @course_status.description %>
</p>


<%= link_to 'Edit', edit_course_status_path(@course_status) %> |
<%= link_to 'Back', course_statuses_path %>
