<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @provenance_area.description %>
</p>


<%= link_to 'Edit', edit_provenance_area_path(@provenance_area) %> |
<%= link_to 'Back', provenance_areas_path %>
