<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @military_document_type.description %>
</p>


<%= link_to 'Edit', edit_military_document_type_path(@military_document_type) %> |
<%= link_to 'Back', military_document_types_path %>
