<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @ways_of_admission.description %>
</p>


<%= link_to 'Edit', edit_ways_of_admission_path(@ways_of_admission) %> |
<%= link_to 'Back', ways_of_admissions_path %>
