<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @registration_scheme.description %>
</p>


<%= link_to 'Edit', edit_registration_scheme_path(@registration_scheme) %> |
<%= link_to 'Back', registration_schemes_path %>
