<div class="container">
<div class="media span3">
</div>	
<div class="media span6 well">
  <i class="pull-left">
    <%= image_tag 'error_image.png', :id => 'homer_simpson' %>
  </i>
  <div class="media-body">
    <h2 class="media-heading"> <i class="icon-cogs icon-2x"></i> Erro <%=params[:status]%> </h2>
	    <h4>A página que está tentando acessar não existe.</h4>
	    <p>Provavelmente o endereço foi digitado errado ou mudou.</p>
	    <hr/>
		<% if @exception.try(:message) %>
		  <h4>Mensagem de erro:</h4>
		  <p><%= @exception.message %></p>
		<% end %>

  </div>
</div>
</div>