<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @matrix_status.description %>
</p>


<%= link_to 'Edit', edit_matrix_status_path(@matrix_status) %> |
<%= link_to 'Back', matrix_statuses_path %>
