<p id="notice"><%= notice %></p>

<p>
  <b>Rule:</b>
  <%= @academic_rule_type.rule %>
</p>


<%= link_to 'Edit', edit_academic_rule_type_path(@academic_rule_type) %> |
<%= link_to 'Back', academic_rule_types_path %>
