<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @matrix_discipline_group.description %>
</p>


<%= link_to 'Edit', edit_matrix_discipline_group_path(@matrix_discipline_group) %> |
<%= link_to 'Back', matrix_discipline_groups_path %>
