<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @learning_modality.description %>
</p>


<%= link_to 'Edit', edit_learning_modality_path(@learning_modality) %> |
<%= link_to 'Back', learning_modalities_path %>
