<p id="notice"><%= notice %></p>

<p>
  <b>Level:</b>
  <%= @education_level.level %>
</p>


<%= link_to 'Edit', edit_education_level_path(@education_level) %> |
<%= link_to 'Back', education_levels_path %>
