<h1><i class="icon-group"></i>Meus componentes</h1>
<p>

	<div class="row-fluid">
	   <ul class="thumbnails">
		<% @class_teachings.group_by(&:schoolclass).each do |schoolclass, classt|%>
	     <li class="span3">
	       <div class="thumbnail well border-radius">
	         <div class="caption">
	           <h4>
		       	<i class="icon-book icon-large"></i> <%= schoolclass.model_course_matrix%><p>
		        <i class="icon-group icon-large"></i> Turma: <%= schoolclass.identifier%></h4><p>

	           <% classt.each do |c| %> 
                  <small><%= link_to "#{c.discipline_class.discipline_name}", teacher_school_class_discipline_class_path(current_user.userlogin, schoolclass.identifier, c.discipline_class_id)%></small><p>
	           <%end%>

	         </div>
	       </div>
	     </li>
	   <%end%>
	   </ul>
	</div>