<p id="notice"><%= notice %></p>

<p>
  <b>Degree:</b>
  <%= @education_degree.degree %>
</p>


<%= link_to 'Edit', edit_education_degree_path(@education_degree) %> |
<%= link_to 'Back', education_degrees_path %>
