<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @knowledge_area.description %>
</p>


<%= link_to 'Edit', edit_knowledge_area_path(@knowledge_area) %> |
<%= link_to 'Back', knowledge_areas_path %>
