<%- model_class = @discipline_class.class -%>
<div class="page-header">
  <h1><i class="icon-book"></i> <%=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human,
                                 :default => "New #{model_class.model_name.human}") %></h1>
</div>
<%= render :partial => 'form' %>
